---
import { getCollection } from 'astro:content'
import Layout from '../../../layouts/Layout.astro'
import ProjectCard from '../../../components/ProjectCard.astro'

const projects = await getCollection('projects')
---

<Layout
  title="Projects - Alex Pavlov"
  description="A list of projects I have been working on or built"
  canonical="/blog/projects"
>
  <div class="mx-auto max-w-6xl">
    <div class="space-y-2 pt-6 md:space-y-5">
      <h1
        class="text-3xl font-extrabold leading-9 tracking-tight text-gray-900 dark:text-gray-100 sm:text-4xl sm:leading-10 md:text-6xl md:leading-14"
      >
        Projects
      </h1>
      <p class="text-md leading-7 text-gray-500 dark:text-gray-400">
        A list of projects I have been working on or built
      </p>
    </div>
    <div class="container py-12">
      <div class="-m-4 flex flex-wrap">
        {
          projects.map((d) => (
            <ProjectCard
              title={d.data.title}
              description={d.body ?? ''}
              href={d.data.link}
              github={d.data.github}
              tech={d.data.technologies}
            />
          ))
        }
      </div>
    </div>
  </div>
</Layout>
