---
const year = new Date().getFullYear()
---

<footer>
  <div class="mt-10 flex flex-col items-center">
    <div class="mb-2 hidden text-sm text-gray-500 dark:text-gray-400 md:flex">
      <div class="mx-1">
        <a href="https://alexpavlov.dev" class="link-underline">Alex Pavlov © {year}</a>
      </div>
    </div>
    <div class="mb-2 text-sm text-gray-500 dark:text-gray-400 sm:block md:hidden lg:hidden">
      <div class="mx-1">
        <a href="https://alexpavlov.dev" class="link-underline">Alex Pavlov © {year}</a>
      </div>
    </div>
  </div>
</footer>
