---
// Giscus comments (config mirrors configs/discus-config.ts)
---

<div class="pt-6 pb-6 text-center text-gray-700 dark:text-gray-300">
  <div class="giscus"></div>
</div>
<script
  is:inline
  src="https://giscus.app/client.js"
  data-repo="pavlovtech/NextBlog"
  data-repo-id="R_kgDOJhljgQ"
  data-category="General"
  data-category-id="DIC_kwDOJhljgc4CWlXX"
  data-mapping="pathname"
  data-reactions-enabled="1"
  data-emit-metadata="0"
  data-input-position="bottom"
  data-theme="dark"
  data-lang="en"
  crossorigin="anonymous"
  async></script>
